.form {
  padding: 31.3rem 0 31.3rem 0;

  &.sign {
    padding: 28.1rem 0 28.1rem 0;
  }

  .auth-content {
    margin: 0 auto;
    max-width: 40rem;

    .logo {
      display: flex;
      justify-content: center;
    }

    .auth-title {
      margin-top: 6rem;
      font-family: Roboto-Medium, sans-serif;
      font-size: 4rem;
      text-align: center;
      color: #052c65;
    }

    .auth-form-details {
      margin-top: 2rem;
      min-width: 39.7rem;

      .form-group {
        margin-top: 1rem;
        display: flex;
        flex-direction: row-reverse;

        .form-input {
          border: .1rem solid #e9ecef;
          border-radius: 0 .4rem .4rem 0;
          border-left: 0;
          outline: 0;
          width: 100%;
          height: 3.866rem;
          padding: .7rem 0 .7rem 1.3rem;
          color: #6c757d;
          font-size: 18px;
          line-height: 22px;

          &::placeholder {
            font-size: 15px;
            color: #6c757d;
          }
        }

        label {
          img {
            width: 4.3rem;
          }
        }

        .error-input {
          border: .1rem solid red;
        }
      }

      .form-agree {
        margin-top: 1.2rem;

        input {
          position: relative;
          top: .2rem;
          cursor: pointer;
        }

        input[type="radio"],
        input[type="checkbox"] {
          appearance: auto;
          background: #fff;
          border: .1rem solid #dee2e6;
          border-radius: .2rem;
          width: 1.3rem;
          height: 1.3rem;
          position: relative;
        }

        label {
          font-size: 12px;
          line-height: 14px;
          color: #000;
        }
      }
    }

    .form-link-signup {
      margin-top: 1rem;
      font-size: 12px;

      a {
        margin-left: 1rem;
        font-size: 12px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #0d6efd;
      }
    }

    .form-button {
      margin-top: 2rem;
    }
  }
}



