<section class="expense container">
    <div class="expense-title">
        Expense
    </div>
    <div class="expense-items">
        <div class="expense-item">
            <div class="expense-item-title">Food</div>
            <a href="/#/expense-edit"><button type="button" class="button edit">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Housing</div>
            <a href="/#/expense-edit"><button type="button" class="button edit">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Health</div>
            <a href="/#/expense-edit"><button type="button" class="button edit">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Cafe</div>
            <a href="/#/expense-edit"><button type="button" class="button edit">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Auto</div>
            <a href="/#/expense-edit"><button type="button" class="button edit">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Clothing</div>
            <a href="/#/expense-edit"><button type="button" class="button edit">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Entertainment</div>
            <a href="/#/expense-edit"><button type="button" class="button edit">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Account</div>
            <a href="/#/expense-edit"><button type="button" class="button edit">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Sport</div>
            <a href="/#/expense-edit"><button type="button" class="button edit">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="revenues-create">
            <a href="/#/expense-create"><button type="button" class="create">+</button></a>
        </div>
    </div>
</section>