<section class="expense container">
    <div class="expense-title">
        expense
    </div>
    <div class="expense-items">
        <div class="expense-item">
            <div class="expense-item-title">Food</div>
            <a href="/#/expense-edit" class="button">Edit</a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Housing</div>
            <a href="/#/expense-edit" class="button">Edit</a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Health</div>
            <a href="/#/expense-edit" class="button">Edit</a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Cafe</div>
            <a href="/#/expense-edit" class="button">Edit</a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Auto</div>
            <a href="/#/expense-edit" class="button">Edit</a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Clothing</div>
            <a href="/#/expense-edit" class="button">Edit</a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Entertainment</div>
            <a href="/#/expense-edit" class="button">Edit</a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Account</div>
            <a href="/#/expense-edit" class="button">Edit</a>
            <button class="button">Delete</button>
        </div>
        <div class="expense-item">
            <div class="expense-item-title">Sport</div>
            <a href="/#/expense-edit" class="button">Edit</a>
            <button class="button">Delete</button>
        </div>
        <div class="revenues-create">
            <a href="/#/expense-create" class="create">+</a>
        </div>
    </div>
</section>