<section class="income-expenses">
  <div class="income-expenses-title">
    Creation of income/expense
  </div>
  <div class="income-expenses-content flex flex-wrap flex-col">
    <input type="text" placeholder="Type...">
    <input type="text" placeholder="Category...">
    <input type="text" placeholder="Sum in $...">
    <input type="text" placeholder="Date...">
    <input type="text" placeholder="Comments...">
    <div class="page-create">
      <button class="button">Create</button>
      <button class="button">Cancel</button>
    </div>
  </div>
</section>