<section class="income-expenses">
  <div class="income-expenses-title">
    Editing income/expense
  </div>
  <div class="income-expenses-content flex flex-wrap flex-col">
    <input type="text" placeholder="Type..." id="operations-edit-type">
    <input type="text" placeholder="Category..." id="operations-edit-category">
    <input type="text" placeholder="Sum in $..." id="operations-edit-amount">
    <input type="text" placeholder="Date..."  id="operations-edit-date">
    <input type="text" placeholder="Comments..."  id="operations-edit-comments">
    <div class="page-create-editing">
      <button class="button" id="save-operations-button">Save</button>
      <button class="button" id="cancel-operations-button">Cancel</button>
    </div>
  </div>
</section>