<section class="income container">
    <div class="income-title">
        Income
    </div>
    <div class="income-items">
        <div class="income-item">
            <div class="income-item-title">Deposits</div>
            <a href="/#/income-edit"><button type="button" class="button">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="income-item">
            <div class="income-item-title">Salary</div>
            <a href="/#/income-edit"><button type="button" class="button">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="income-item">
            <div class="income-item-title">Savings</div>
            <a href="/#/income-edit"><button type="button" class="button">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="income-item">
            <div class="income-item-title">Investment</div>
            <a href="/#/income-edit"><button type="button" class="button">Edit</button></a>
            <button class="button">Delete</button>
        </div>
        <div class="income-create">
            <a href="/#/income-create"><button type="button" class="create">+</button></a>
        </div>
    </div>
</section>