<section class="income-expenses">
  <div class="income-expenses-title">
    Creation of income/expense
  </div>
  <div class="income-expenses-content flex flex-wrap flex-col">
    <input type="text" placeholder="Type..." id="income-expenses-type">
    <input type="text" placeholder="Category..." id="income-expenses-category">
    <input type="text" placeholder="Sum in $..." id="income-expenses-amount">
    <input type="text" placeholder="Date..."  id="income-expenses-date">
    <input type="text" placeholder="Comments..."  id="income-expenses-comments">
    <div class="page-create-editing">
      <button class="button" id="income-expenses-create">Create</button>
      <button class="button" id="income-expenses-cancel">Cancel</button>
    </div>
  </div>
</section>