<section class="main container">
    <div class="main-content">
        <div class="main-title">
            <h1>Home</h1>
        </div>
        <div class="tabs">
            <div class="tabs-header">
                <div class="tabs-header-item active">Today</div>
                <div class="tabs-header-item">Week</div>
                <div class="tabs-header-item">Month</div>
                <div class="tabs-header-item">Year</div>
                <div class="tabs-header-item">All</div>
                <div class="tabs-header-item">Interval</div>
                <div class="tabs-header-interval">
                    <span>from</span> <input type="text" class="input-interval"
                                             placeholder="Date">
                    <span>to</span> <input type="text" class="input-interval"
                                           placeholder="Date">
                </div>
            </div>
            <div class="tabs-content">
                <div class="tabs-content-item">
                    <div class="item-revenues items">
                        <div class="title text-center">
                            Revenues
                        </div>
                        <div class="graph-item">
                            <div class="graph-items">
                                <div class="block-color-graph red"></div>
                                Red
                            </div>
                            <div class="graph-items ">
                                <div class="block-color-graph orange"></div>
                                Orange
                            </div>
                            <div class="graph-items">
                                <div class="block-color-graph yellow"></div>
                                Yellow
                            </div>
                            <div class="graph-items">
                                <div class="block-color-graph green"></div>
                                Green
                            </div>
                            <div class="graph-items">
                                <div class="block-color-graph blue"></div>
                                Blue
                            </div>
                        </div>
                        <div class="graph">
                            <svg width="362" height="362" viewBox="0 0 362 362" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M361 180.999C361 153.897 354.879 127.144 343.095 102.737L181 180.999H361Z"
                                      fill="#0D6EFD" stroke="white"/>
                                <path d="M343.095 102.737C322.846 60.7985 287.131 28.3403 243.453 12.1819L181 181L343.095 102.737Z"
                                      fill="#20C997" stroke="white"/>
                                <path d="M243.453 12.1818C218.759 3.04643 192.362 -0.560314 166.122 1.61592C139.883 3.79215 114.44 11.6984 91.5887 24.7771C68.7371 37.8558 49.033 55.7885 33.8658 77.3106C18.6985 98.8328 8.43756 123.42 3.8064 149.339L181 181L243.453 12.1818Z"
                                      fill="#DC3545" stroke="white"/>
                                <path d="M3.80645 149.34C-2.7924 186.271 2.31328 224.342 18.4099 258.23C34.5064 292.117 60.7894 320.129 93.5847 338.349C126.38 356.568 164.049 364.085 201.325 359.849C238.602 355.612 273.623 339.835 301.494 314.721L181 181L3.80645 149.34Z"
                                      fill="#FD7E14" stroke="white"/>
                                <path d="M301.494 314.72C320.225 297.842 335.201 277.217 345.452 254.181C355.703 231.146 361 206.213 361 181H181L301.494 314.72Z"
                                      fill="#FFC107" stroke="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="hr"></div>
                    <div class="item-outlay items">
                        <div class="title text-center">
                            Outlay
                        </div>
                        <div class="graph-item">
                            <div class="graph-items">
                                <div class="block-color-graph red"></div>
                                Red
                            </div>
                            <div class="graph-items">
                                <div class="block-color-graph orange"></div>
                                Orange
                            </div>
                            <div class="graph-items">
                                <div class=" block-color-graph yellow"></div>
                                Yellow
                            </div>
                            <div class="graph-items">
                                <div class="block-color-graph green"></div>
                                Green
                            </div>
                            <div class="graph-items">
                                <div class="block-color-graph blue"></div>
                                Blue
                            </div>
                        </div>
                        <div class="graph">
                            <svg width="362" height="362" viewBox="0 0 362 362" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M361 181C361 151.707 353.851 122.857 340.173 96.9531C326.495 71.0494 306.703 48.8753 282.512 32.3553C258.322 15.8353 230.465 5.46872 201.36 2.15528C172.255 -1.15816 142.782 2.68169 115.497 13.3415L181 181H361Z"
                                      fill="#20C997" stroke="white"/>
                                <path d="M115.497 13.3423C87.5155 24.2745 62.7151 42.0362 43.3564 65.0084C23.9977 87.9806 10.6964 115.433 4.66506 144.862C-1.36632 174.292 0.0640501 204.763 8.82572 233.498C17.5874 262.234 33.4017 288.319 54.8272 309.377L181 181.001L115.497 13.3423Z"
                                      fill="#FFC107" stroke="white"/>
                                <path d="M54.8273 309.376C67.1786 321.515 81.2173 331.809 96.5091 339.938L181 181L54.8273 309.376Z"
                                      fill="#DC3545" stroke="white"/>
                                <path d="M96.5091 339.938C132.041 358.827 172.879 365.264 212.499 358.223C252.119 351.181 288.237 331.066 315.084 301.09L181 181L96.5091 339.938Z"
                                      fill="#0D6EFD" stroke="white"/>
                                <path d="M315.084 301.09C344.651 268.077 361 225.317 361 181H181L315.084 301.09Z"
                                      fill="#FD7E14" stroke="white"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>