<section class="income-expenses">
  <div class="income-expenses-title">
    Creation of income/expense
  </div>
  <div class="income-expenses-content flex flex-wrap flex-col">
    <select type="text" id="operations-create-type">
      <option value="income">income</option>
      <option value="expense">expense</option>
    </select>
    <select type="text" id="operations-create-category"></select>
    <input type="text" placeholder="Sum in $..." id="operations-create-amount">
    <input type="text" placeholder="Date..."  id="operations-create-date" class="operations-date">
    <input type="text" placeholder="Comments..."  id="operations-create-comments">
    <div class="page-create-editing">
      <button class="button" id="operations-create-create">Create</button>
      <button class="button" id="operations-create-cancel">Cancel</button>
    </div>
  </div>
</section>