<section class="outlay container">
    <div class="outlay-title">
        Outlay
    </div>
    <div class="outlay-items">
        <div class="outlay-item">
            <div class="outlay-item-title">Food</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="outlay-item">
            <div class="outlay-item-title">Housing</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="outlay-item">
            <div class="outlay-item-title">Health</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="outlay-item">
            <div class="outlay-item-title">Cafe</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="outlay-item">
            <div class="outlay-item-title">Auto</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="outlay-item">
            <div class="outlay-item-title">Clothing</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="outlay-item">
            <div class="outlay-item-title">Entertainment</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="outlay-item">
            <div class="outlay-item-title">Account</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="outlay-item">
            <div class="outlay-item-title">Sport</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="revenues-create">
            <button class="create">+</button>
        </div>
    </div>
</section>