<section class="revenues container">
    <div class="revenues-title">
        Revenues
    </div>
    <div class="revenues-items">
        <div class="revenues-item">
            <div class="revenues-item-title">Deposits</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="revenues-item">
            <div class="revenues-item-title">Salary</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="revenues-item">
            <div class="revenues-item-title">Savings</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="revenues-item">
            <div class="revenues-item-title">Investment</div>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </div>
        <div class="revenues-create">
            <button class="create">+</button>
        </div>
    </div>
</section>