.main-content {
  margin: 10rem 0 0 6rem;

  .main-title {
    font-size: 40px;
    color: #052c65;
  }

  .tabs {
    width: 100%;
    margin-top: 6rem;

    .tabs-header {
      display: flex;
      align-items: center;

      .tabs-header-item {
        padding: 7px 17.5px;
        cursor: pointer;
        border: 1px solid #6c757d;
        margin-right: 20px;
        border-radius: 4px;
        color: #6c757d;
        width: 10rem;
        font-size: 16px;
        height: 3.7rem;

        &.active {
          color: white;
          background: #6c757d;
        }
      }

      .tabs-header-interval {
        color: #6c757d;
        font-size: 16px;

        .input-interval {
          width: 6.3rem;

          &:focus {
            outline: none;
          }
        }

        span {
          margin-right: .9rem;
        }

        input:focus {
          border: none;

        }

        input::placeholder {
          text-decoration: underline;
        }
      }
    }

    .tabs-content {
      margin-top: 14rem;
      font-size: 7.5rem;
      position: relative;

      .hr {
        position: absolute;
        top: 6.7rem;
        left: 54.1rem;
        width: .1rem;
        height: 45rem;
        background: #d9d9d9;
      }

      .tabs-content-item {
        display: flex;
        justify-content: space-between;

        .item-revenues {
          margin-left: 2.4rem;
        }

        .items {
          min-width: 43.7rem;
          display: flex;
          flex-direction: column;
          align-items: center;


          .title {
            font-size: 28px;
            color: #290661;
          }

          .graph-item {
            display: flex;


            .graph-items {
              margin-top: 2rem;
              display: flex;
              align-items: center;
              font-size: 12px;
              color: #000000;
              margin-right: 1rem;


              .block-color-graph {
                width: 3.5rem;
                height: 10px;
              }

              .red {
                background: #dc3545;
                margin-right: 1rem;
              }

              .orange {
                background: #fd7e14;
                margin-right: 1rem;
              }

              .yellow {
                background: #ffc107;
                margin-right: 1rem;
              }

              .green {
                background: #20c997;
                margin-right: 1rem;
              }

              .blue {
                background: #0d6efd;
                margin-right: 1rem;
              }
            }
          }

          .graph {
            margin-top: 4rem;
          }
        }
      }
    }
  }
}