.side-bar {
  max-width: 219px;
  min-height: 100vh;
  border-right: 1px solid #d9d9d9;

  .logo {
    width: 100%;
    padding: 40px 0 20px 20px;
    border-bottom: 1px solid #d9d9d9;
  }

  .navigation {
    margin-top: 60px;
    ul {
      list-style: none;

      .navigation-item {
        border-radius: 5px;

        &.active {
          background: #0d6efd;
          a {
            color: white;
          }
        }

        a {
          display: flex;
          max-width: 198px;
          height: 40px;
          padding: 10px 16px;
          text-decoration: none;
          align-items: center;
          color:  #052c65;

          img {
            margin-right: 10px;
            position: relative;
          }
        }
      }
    }
  }

  .balance {
    padding: 510px 0 20px 20px;
    width: 100%;
    color: #052c65;

    span {
      margin-left: 5px;
      color: #0d6efd;
    }
  }

  .profile {
    width: 100%;
    border-top: 1px solid #d9d9d9;
    padding: 20px 30px 40px 20px;
    font-size: 14px;
    color: #052c65;
    img {
      margin-right: 16px;
    }
  }
}